
@media only screen and (min-width: 1600px) {
   .layout-wrapper {
      width: 75%;
      margin: auto;
   }
}

.text-muted {
   color: #8c8c8c;
   letter-spacing: 1px;
   font-family:Arial, Helvetica, sans-serif;
}

.my-page-title {
   color: #727272;
   letter-spacing: 1px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.success-button {
   background-color: #389e0d !important;
   border-color: #389e0d !important;
}

.success-button:hover {
   background-color: #52c41a !important;
   border-color: #52c41a !important;
}

.hover-effect:hover {
   background-color: rgb(250, 250, 250);
}

.div-text-middle {
   padding-top: 5px;
   padding-bottom: 5px;
}